.color-texto1{
    color: white;
    background-color: rgb(53, 50, 50);
    
}
div{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}


.img{
    padding: 0;
    margin: 0;
    margin-left: 0;
    object-fit: cover;
}

.color-texto2{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 140, 9);
}

.color-texto3{
    color: white;
    background-color: rgb(255, 0, 0);
}

.col{
    border: 1px solid black;
}

.info{
    margin-top: 20%;
}

.texto{
    color:hwb(0 0% 0%);
}
