h4{
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', 
    Arial, sans-serif;
}
h5{
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', 
    Arial, sans-serif;
}
td{
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', 
    Arial, sans-serif;
}
ul{
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', 
    Arial, sans-serif;
}
